@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lora:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lora:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f6f6;
    font-size: 16px;
}